
.our-cards-section , .our-demo-cards-section{
    padding : 10px 5px;
    width : 36rem;
    background: #f8f8f8;
    margin-left : 46px;


    .teachers-data-div {
        .col-5 {
             width : 100%;   

             img { 
                width : 100%;
                height : 250px;
                object-fit : cover; 
             }
        } 

        .timings{
            .grade-section{
                font-size: 24px;
                font-weight : 500;
                margin : 0px;
            }

            .time-section{
                font-size : 20px;
                font-weight : 700;
            }
        }
         

         .teacher-personal-details{
             .name {
                 font-size : 20px;
                 font-weight : 600;
                 color : blue;
                 margin-bottom  : 4px;
             }

             .profession{
                font-size : 14px;
                font-weight : 500;
                color : black;
                margin-bottom  : 4px;
             }

             .expert{
                font-size : 14px;
                font-weight : 500;
                color : black;
                margin-bottom  : 4px;
             }
         }
    }

    .stars{
        text-align : center;
        margin-top : 20px;
        margin-bottom : 20px;

        i{
            margin : 0 10px;
            font-size : 30px;
        }
    }
}


.our-demo-cards-section{
    padding : 0px 0px 30px;
    width : 38rem;

    .demo-video-text{
        text-align: center;
        font-size : 36px;
        font-weight : 500;
        margin-bottom : 20px;
    }
}


@media (max-width: 991.98px) { 
   
    .our-cards-section{
        width : 29rem;
        margin-left : 10px;
    }
}

