body{
    background: linear-gradient(180deg, #FAFF09 0%, rgba(255, 255, 255, 0) 100%), #FF9D1A;
    margin : 0;
    padding : 0;

    .my-main-page-content{
        padding : 0px 120px;
        transition : all 0.3s ease;
    }
    
    .My-navbar{
        background: #F8FD04;
        padding: 10px 8%;
        border-bottom :2px solid #FF6109;
        margin-bottom  : 15px;
        transition : all 0.3s ease;

        .navbar-nav {
            .nav-link { 
                margin-right: 9px;
                border: 1px solid #F8FD04;
                color: #5a5a5a;
                font-weight: 600;
                padding: 7px 14px;
            }

            .nav-link:hover { 
                color: #5a5a5a;
                border: 1px solid #7979796b;
                padding: 7px 14px;
                border-radius: 6px;
            }

            .navbar-username{
                h4{
                    font-size : 18px;
                    color : blue;
                    margin : 0px;
                }
            }

            .navbar-usertype{
                p{
                    font-size: 12px;
                    color: #545252;
                    margin: 0px;
                    font-weight: 700;
                }
            }
        }

        button{
            background-color: #fc6200;
            font-weight : 500;
            font-size : 16px;
            border-radius : 4px;
            color : white !important;
        }

        button:hover { 
            background-color: #fc6200;
        }

        button:focus {
            outline : none;
        }

        .navbar-brand{
            i {
              color : #fd6a6ae8;
              font-size : 26px;
              margin-right : 3px;
            }

            span{
                font-weight : 600;
                color : #fd6a6ae8;
                font-size : 24px;
            }
        }
    }

    .start-learning-section{
        background : white;
        padding-top: 36px;
        padding-bottom : 20px; 
        transition: all 0.3s ease;

        h1{
            text-align: center;
            color: black;
        }

        .our-bottom-some-links{
            text-align : center;
            margin : 10px 0px;
            margin-top : 24px;

            .our-live-buttons{
                width : 156px;
                margin: 10px 5%;
                padding: 10px 22px;
                font-weight: 500;
                color: white;
                border-radius: 4px;
                background: #F19D26;
            }
        }
     }

    .select-class-section{
        h1{
            margin-left : 5px;
            font-style: italic;
            font-weight : 500;
            font-size : 24px;
        }

        button {
            margin: 2px 4px;
            padding: 6px 24px;
            background : yellow;
        }
    }

    #myTab {
        background: white;
        border : 0px;

        .nav-item {
            a{
                background-color: #f5f5f5;
                font-weight : 500;
                color : black;
                margin-right : 10px;
                padding : 10px 26px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                box-shadow: inset 0px -9px 8px -9px #e8e8e8;;
            }

            .active{
                font-weight : 600;
                color : black;
                background : white;
                color: #ff6200;
                box-shadow: 0px -4px 5px 0px rgba(0, 0 , 0, 0.15);
            }
        }
    } 

    .teacher-lecture-section{
        background: white;
        padding : 0px 120px;
        transition: all 0.3s ease;
    }

    .education-standard-section{
        padding: 25px 75px 30px;
        background: white;
        box-shadow: rgba(0, 0, 0,  0.16) 0px 11px 6px, rgba(0, 0, 0, 0.23) 3px 2px 6px;
    }
}


@media (max-width: 991.98px) { 

    .nav-link{
        width : 168px !important;
    }

    .my-main-page-content{
        padding : 0px 36px !important;
    }

    .My-navbar{
        padding : 10px 36px !important;
    }

    .teacher-lecture-section{
      padding : 0px 30px !important;
    }

    .our-demo-cards-section{
        width: 29rem !important;
        margin-left: 10px !important;
    }

    .education-standard-section{
        padding : 0px !important;
        padding-top : 25px !important;
        padding-bottom : 30px !important;
    }

    iframe { 
        width : 423px;
    }
    
 }


@media (max-width: 767.98px) { 

    .our-live-buttons{
       display: block;
       margin : 10px auto !important;
    }


}