
.main-page{
     .first-section {
        margin-bottom  : 60px;
        transition: all 0.3s ease;

        .col-md-8 {
            padding-top :20px;

             .Intro-section{
                background-color: #ffffff;
                height: 50%;
                margin: 0px 34% 0px 0px;
                padding: 58px;
                border-radius: 50%;

                h3{
                    text-align: center;
                    margin-bottom : 10px;
                    color : blue;
                }

                p{
                    text-align: center;
                    transition: all 0.3s ease;
                }
             }

             .some-text-about-courses{
                 margin-top : 30px;
                
                 h1{
                     font-size : 38px;
                     font-style: italic;
                     color : white;
                 }

                 h3{
                    text-align: center;
                    font-style: italic;
                    color: white;
                 }
             }
         }

         .col-md-4{
             padding-top : 20px; 

             img{
                height: 400px;
             }
         }
     }

     .phone-no-section{
         width : 60%;
         margin-bottom  : 30px;
         transition : all 0.3 ease;

         .find-me-a-tutor-section {
             button {
                padding: 7px 20px;
                font-weight: 500;
                color: black;
                background: #FAFF0D;
                border: 1px solid #FAFF0D;
             }
         }
        .search-tutor-section{
            width : 45%;

            input{
                border-radius : 0px;
            }

            .input-group-text{
                border-radius : 0px;
                color: black;
                border-radius: 0px;
                background: yellow;
                font-weight: 500;
            }
        }
     }

     .download-section {

        .playstore-image-section{
            display: inline-block;
            width : 35%;
            margin-right : 5px;

            .playstore-image {
                width : 86%;
            }
        }

        .Applestore-image{
            display: inline-block;
            width : 35%;
            margin-right : 25px;

            .applestore-image{
                width : 100%;
             }
        }

         

         .find-your-tutor-text , .get-link-to-download-text{
             font-size : 18px;
             font-weight : 500;
         }
         .get-link-section{
              max-width : 85%;

             .input-group-append{
                 span {
                    background: yellow;
                    border: none;
                    font-weight: 500;
                    font-size: 16px;
                 }
            }

             .get-link-button-sections  {
                button {
                    margin-right: 10px;
                    background: white;
                    border: none;
                    color: black;
                }
             }
         }
     }


     .learn-to-code-section{
         margin-top : 60px;
         padding: 10px 50px 30px;

         .keep-learning-text{
            margin : 20px 0px;
         } 

         .images-sections-of-app {
             position : relative;
         }
        
         .col-md-6{
             position : relative;
             text-align: center;

             img { 
                 width : 300px;
             }
         }

         .images-sections-of-app{
             position :relative;

             .lower-sections{
                top: 0;
                left: 0px;
                width: 100%;
                height: 100%;
                position: absolute;
             }

             .text-of-coding-section {
                position: relative;
                top: 27px;
                left: 0px;
                font-weight: 500;
                font-size: 22px;
             }

             .some-text-image{
                position: relative;
                right: 0;
                top: 64px;
                left: 0px;
                width: 216px;
             }
         }
     }

}


@media (max-width: 991.98px) { 

    .main-page{
        .phone-no-section{
            width : 100% !important;
            margin-bottom  : 30px;
        }

        .or-h3{
            margin : 0 8px;
        }

        .Intro-section{
            height: 50% !important;
            width: 100% !important;
        }

        .our-live-buttons{
            margin : 10px 0px !important;
        }

        .col-md-4{
            text-align: center; 
        }

        .learn-to-code-section{
            margin-top : 50px;
        }
    }
    
 }